.listpage-main-menu
  display: flex
  margin-top: 50px

.main-list-display
  background-color: rgba(97, 148, 206, 0.8)


.body-list-detail
  background-color: rgba(236, 238, 248, 0.8)
  margin: auto

.body-list
  width: 100%


.body-list-detail, .main-list-display
  height: 75vh
  width: 25%
  border-radius: 20px
  display: flex
  flex-direction: column

.icon
  height: 14px
  width: 14px


.body-list-title, .body-list-ul, .body-list-form
  justify-content: center
  display: flex

.body-list-ul
  flex-direction: column
  margin: 1px auto
  width: 100%
  padding: 0
  align-items: center

.main-list-li
  display: flex
  justify-content: space-between
  width: 75%
  margin-bottom: 5px

.title-list, .title-list-detail
  font-size: 2.5rem

.title-list, .body-list-a
  color: white

.body-list-a, .main-list-li
  text-decoration: none
  font-size: 1.2rem