{% extends 'base.html.twig' %}

{% block body %}

    <section
            class="account-body">
        <div
        class="register-form">

            <h1>Mon compte</h1>

            {{ form_start(form) }}
            {{ form_row(form) }}
            <button
                    class="account-form-button">Modifier</button>
            {{ form_end(form) }}

        </div>


    </section>



{% endblock %}